body {
    margin: 0;
}

#root {
    width: 100%;
}


main {
min-height: 100vh; 
display: flex; 
justify-content: center; 
font-family: "Merriweather", serif;
font-optical-sizing: auto;
font-weight: 400;
font-style: normal;
font-variation-settings: "width" 100;
font-stretch: expanded;
padding: 2rem;

}

.dark {
    color: #F1E9D2;
    background-color: rgb(29, 23, 6);
    .header h1 {
        border: 5px double #595135 !important;
    }
    .card {
    border: 5px double #595135 !important;
    }
    .card:hover {
    background-color: rgb(36, 28, 8) !important;
    }
    .AddMushroom, .about-text {
    background-color: #595135;
}
    .about-links a {
        color: rgb(218, 186, 90);
    }
    .stats {
    border: 5px double #595135;
}
}

.light {
    background-color: #F1E9D2;
    color: rgb(29, 19, 6);
}

.siteWidth {
    max-width: 1024px;
    width: 100%;
}

.navbar {
    display: flex; 
    background-color: rgb(23, 49, 10);
    color: #F1E9D2;
    padding: 0.5rem;
    box-sizing: border-box;
    border-radius: 3px;
    box-shadow: 0 0 4px rgb(82, 99, 63);
    button {
        background: none;
        border: none;
        border-radius: 2px;
        font: inherit;
        color: inherit;
        cursor: pointer;
        }
    button:hover {
        color: rgb(218, 186, 90);
    }
}

.navbar-links {
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;
    gap: 2rem; 
    margin: 0;
    padding-left: 2rem;
    flex-grow: 1;
    li a {
        text-decoration: none;
        color: inherit;
    }
    li:hover {
        color: rgb(218, 186, 90);
    }
}

footer {
    margin-top: 2rem;
    gap: 2rem;
    padding: 1rem !important;
    justify-content: center;
    a {
        text-decoration: none;
        color: inherit;
}
}

.addSymbol {
    font-size:xx-large;
    font-weight: bolder;
    padding-right: 2rem;
    cursor: pointer;
}

.header {
    display: flex;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
    
    img {
        width: auto;
        height: 10vh;
        margin-right: 1rem;
    }
    h1 {
        margin-top: 1rem;
        margin-bottom: 3rem;
        font-family: 'Castellar';
        text-align: center; 
        font-weight: 1000;
        font-size: 2.5em;
        border: 5px double rgb(29, 19, 6);
        padding: 1rem;
        box-shadow: 0 0 4px #595135;
        background-color: #bca971;
        color: rgb(29, 19, 6);
    }
}


.welcome {
    border: 5px double rgb(29, 23, 6);
    box-shadow: 0 0 4px #595135;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    background-color: rgb(218, 186, 90);
    margin-bottom: 3rem;
}

.mushroom-div {
    display: flex;
    justify-content:flex-start;
        img {
            height: 20%;
            width: auto;
            margin-right: 3rem;
        }
}

.mushroom-poisoning {
    display: flex;
    flex-direction: column;
    width: 60%;

}

.about-text {
    border: 5px double rgb(29, 23, 6);
    background-color: #efdeaa;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.about-links {
    display:flex;
    flex-direction: column;
    a {
        text-decoration: none;
        color: rgb(82, 99, 63);
        font-weight:bolder;
    }
}

.dir-cards {
    display: flex;
    flex-direction: column;
    img {
        width: 10vw;
        height: auto;
    }
}

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 5px double rgb(29, 23, 6);
    margin: 0.5rem;  
    padding-right: 2rem;
    box-shadow: 0 0 4px #595135;
}

.card:hover {
    cursor: pointer;
    background-color: #efdeaa;
}

.no-underline {
    text-decoration: none;
    color: inherit;
}

.AddMushroom {
    border: 5px double rgb(29, 23, 6);
    box-shadow: 0 0 4px #595135;
    background-color: #efdeaa;
    padding: 3rem;
    form {
    display: flex;
    flex-direction: column;
    gap: 1rem; 
    input {
        width: 50%;
        background-color: #F1E9D2;
        font-family: Verdana, sans-serif;
        /* border: 1px transparent rgb(63, 25, 13); */
    }
    textarea {
        background-color: #F1E9D2;
        font-family: Verdana, sans-serif;

    }
    select {
        width: 15%;
        cursor: pointer;
        background-color: #F1E9D2;
    }
    input:focus,
    textarea:focus,
    select:focus {
        outline: none;                
        border: 2px solid #aa8303ff; 
        box-shadow: 0 0 5px #aa8303ff;
    }
}
}

.buttons {
    display: flex;
    gap: 0.5rem;
    margin-top: 1rem;
    button {
        background-color: rgb(23, 49, 10);
        color: #F1E9D2;
        cursor: pointer;
        padding: 0.5rem;
        border: 2px solid rgb(29, 23, 6);;  
        border-radius: 3px; 
        outline: none;  
        }
    button:focus {
        border-color: #aa8303ff;         
        box-shadow: 0 0 5px #aa8303ff;  
        }
}

.buttons-symbol {
    font-size:xx-large;
    font-weight: bolder;
    padding: 0 0.5rem !important;
}

.img-stats {
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    margin-bottom: 2rem;
    
}

.stats {
    border: 5px double rgb(29, 23, 6);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    span {
        background-color: #aa8303ff;
        padding: 0.2rem 0.4rem; 
        align-self: flex-start;
    }
}

hr {
  border: none;
  border-bottom: 2px solid #aa8303ff;
  margin: 0.5rem 0;
  height: 0; 
}

.details-text {
    padding: 2rem;
    display: flex;
    flex-direction: column;


}

.details-intro {
    margin-bottom: 2rem;
}


.error {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    img {
        height: 70vh;
    }
    h1 {
        background-color: rgb(82, 99, 63);
        display: inline-block;
        padding: 0.5rem 1rem;
        color: #F1E9D2;
    }
}
